@import "src/variables";

.section {
    position: relative;
    opacity: 0;
    transition: transform .8s ease-out, opacity .8s ease .2s;
    transform: translateY(10%);

    &-skills {
        padding-left: 10vw;
        padding-right: 10vw;
        display: flex;
        flex-direction: column;
        gap: 100px;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    &.reveal {
        opacity: 1;
        transform: unset;
    }

    .article-skills {
        width: fit-content;
        align-self: center;
        display: flex;
        flex-direction: column;
        gap: 14px;

        h2 {
            color: $accent-color;
            font-weight: 500;
            font-size: 2rem;
        }

        p {
            display: block;
            font-weight: 200;
            font-size: 1.2rem;
        }

        a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            transition: all .1s ease;
            color: $accent-color;

            &:hover {
                font-size: 1.3rem;
            }
        }
    }
}

.skills-crad-wrapper {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-color: $background-lighter-color;
    box-shadow: $shadow;
    padding: 1vw;
    border-radius: 15px;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;

    &.reveal {
        opacity: 1;
        transform: translateX(0);
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
}


.skills-crad {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    gap: 10px;
    z-index: 5;
    transition: all .3s ease-in-out;
}

.skills-crad:hover {
    cursor: pointer;
}

.skills-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .3s ease-in-out;
}

.skills-crad:hover .skills-card-content {
    transform: rotate(360deg);
}

.skills-crad:hover .skills-card-description {
    transform: rotate(360deg);
}

.skills-crad.skills-card-angular:hover .skills-card-description h2 {
    color: $angular;
}

.skills-crad.skills-card-react:hover .skills-card-description h2 {
    color: $react;
}

.skills-crad.skills-card-javascript:hover .skills-card-description h2 {
    color: $javascript;
}

.skills-crad.skills-card-typescript:hover .skills-card-description h2 {
    color: $typescript;
}

.skills-crad.skills-card-html:hover .skills-card-description h2 {
    color: $html;
}

.skills-crad.skills-card-css:hover .skills-card-description h2 {
    color: $css;
}

.skills-crad.skills-card-firebase:hover .skills-card-description h2 {
    color: $firebase;
}

.skills-crad.skills-card-git:hover .skills-card-description h2 {
    color: $git;
}

.skills-crad.skills-card-scrum:hover .skills-card-description h2 {
    color: $scrum;
}

.skills-crad.skills-card-restapi:hover .skills-card-description h2 {
    color: $restapi;
}

.skills-crad.skills-card-materialdesign:hover .skills-card-description h2 {
    color: $materialdesign;
}

.skills-crad.skills-card-vscode:hover .skills-card-description h2 {
    color: $vscode;
}

.skill-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    width: 100px;
    height: 100px;
    overflow: hidden;

    img {
        width: 60%;
        height: auto;
        stroke-width: 1px;
    }
}

.skills-card-description h2 {
    font-size: 1rem;
    font-weight: inherit;
    transition: all .2s ease-out;
}