@import "src/variables";

.header {
  position: sticky;
  z-index: 1000;
  display: flex;
  top: 0;
  padding: 10px 20px 10px 10px;
  height: 50px;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: $background-color-transparent;

  @media (max-width: 950px) and (min-width: 600px) {
    font-size: 16px;
    font-weight: 700;
}

  &-logo {
    justify-content: flex-start;
    margin-right: 20px;

    &-text {
      font-size: 2.1rem;
      font-weight: 500;
      background-image: linear-gradient(to right, $primary-logo-color, $secondary-logo-color);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      display: flex;
      align-items: center;



      &::before,
      &::after {
        content: ' ';
      }

      &::before {
        content: '{';
        margin-right: 0.2rem;
        margin-bottom: 0.2rem;
      }

      &::after {
        content: '}';
        margin-left: 0.2rem;
        margin-bottom: 0.2rem;
      }
    }
  }

  .nav-links {
    flex: 1;
    text-align: center;

    @media (max-width: 950px) and (min-width: 600px) {
      margin-right: 0px;
  }

  @media (max-width: 600px) {
     display: none;
  }

    ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      gap: 16px;

      li {
        margin-right: 20px;
        position: relative;

        a {
          text-decoration: none;
          font-family: 'Roboto', sans-serif;
          cursor: pointer;
          position: relative;
          color: $text-color-high-emphasis;
          transition: color 0.3s ease;

          &:before {
            content: '';
            background: $accent-color;
            display: block;
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 0;
            height: 3px;
            transition: all 0.3s ease-in-out;
          }

          &:hover {
            color: $accent-color;
          }

          &:hover::before {
            width: 100%;
          }
        }
      }
    }
  }

 
  }
  .hamburger-menu {
    display: none; 

    @media (max-width: 600px) {
      display: flex;
      align-items: center;
      margin-right: 10px; 

      .icon {
        font-size: 1.2rem; 
      }
    }
  }

