@import "src/variables";

.header {
  display: flex;
  top: 0;
  padding: 10px 20px 10px 10px;
  height: 50px;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;

  &-logo {
    justify-content: center;
    margin-right: 20px;

    &-text {
      font-size: 2.1rem;
      font-weight: 500;
      background-image: linear-gradient(to right, $primary-logo-color, $secondary-logo-color);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      display: flex;
      align-items: center;

      &::before,
      &::after {
        content: ' ';
      }

      &::before {
        content: '{';
        margin-right: 0.2rem;
        margin-bottom: 0.2rem;
      }

      &::after {
        content: '}';
        margin-left: 0.2rem;
        margin-bottom: 0.2rem;
      }
    }
  }

  .nav-links {
    flex: 1;
    margin-right: 200px;

    ul {
      list-style-type: none;
      display: flex;
      justify-content: flex-end;
      gap: 16px;

      li {
        margin-right: 20px;
        position: relative;

        a {
          text-decoration: none;
          font-family: 'Roboto', sans-serif;
          cursor: pointer;
          position: relative;
          color: $text-color-high-emphasis;
          transition: color 0.3s ease;

          &:before {
            content: '';
            background: $accent-color;
            display: block;
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 0;
            height: 3px;
            transition: all 0.3s ease-in-out;
          }

          &:hover {
            color: $accent-color;
          }

          &:hover::before {
            width: 100%;
          }
        }
      }
    }
  }

  .mode-switcher {
    display: flex;
    align-items: center;
    gap: 10px;

    .icon {
      font-size: 1.2rem;
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        width: 40px;
        height: 20px;
        background-color: $slider-background-color;
        transition: .4s;
        border-radius: 20px;

        &:before {
          position: absolute;
          content: "";
          height: 16px;
          width: 16px;
          left: 2px;
          bottom: 2px;
          background-color: white;
          border-radius: 50%;
          transition: .4s;
        }
      }

      input:checked + .slider {
        background-color: $accent-color;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px $accent-color;
      }

      input:checked + .slider:before {
        transform: translateX(20px);
      }

      .slider.round {
        border-radius: 34px;

        &:before {
          border-radius: 50%;
        }
      }
    }
  }
}
