@import "src/variables";

.overlay-imprint-active {
  background-color: #0000004d;
  backdrop-filter: blur(6px);
}

.overlay-imprint {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .2s ease-in, backdrop-filter .2s ease-in, background-color .2s ease-in;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  overflow: hidden;
  transition: height 0.3s ease;

  .code-overlay-imprint-modal {
    background-color: $background-lighter-color;
    border-radius: 4px;
    line-break: auto;
    user-select: none;
    border: solid 1px $codeBorderColor;
    box-shadow: $shadow;
    transition: all .4s cubic-bezier(.68, -.55, .27, 1.55);
  }

  .code-overlay-imprint-modal-active {
    transform: none;
    opacity: 1;
  }

  .code-overlay-imprint-modal-contact {
    display: flex;
    flex-direction: column;
    width: 500px;
  }

  .code-imprint-bar {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: $background-lightest-color;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom: solid 1px $codeDotContainerBottomBorderColor;

    .code-imprint-bar-dots-container {
      display: flex;
      gap: 10px;
      height: 100%;
      align-items: center;
      padding: 12px;
      background-color: $codeWindow;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      .code-imprint-bar-dots {
        height: 12px;
        width: 12px;
        border-radius: 50%;
      }

      .red-dot {
        background-color: #fd5e59;
      }

      .yellow-dot {
        background-color: #ffbb3b;
      }

      .green-dot {
        background-color: #34c748;
      }
    }

    .close-imprint-btn {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      font-weight: bold;

      &:hover {
        color: $accent-color;
      }
    }
  }

  .imprint-content {
    overflow: auto;
    user-select: none;
    width: 100%;
    height: 100%;


    .imprint-content-wrapper {
      padding: 24px;
      display: flex;
      flex-direction: column;
      gap: 14px;

      h3 {
        color: $accent-color;
        font-weight: bold;
        display: block;
        font-size: 1.5em;
      }

      p {
        font-weight: 300;
        display: inline-block;
        font-size: 1em;
      }

      a {
        text-decoration: none;
        color: $accent-color;
        font-size: 0.7em;
      }

      .imprint-content-items {
        border: solid 2px $oddSiblingColor;
        border-radius: 4px;
        user-select: text;

        .imprint-content-item {
          display: flex;
          flex-direction: column;
          gap: 16px;
          padding: 14px;
          font-size: 1em;
        }
      }
    }
  }
}