$primary-logo-color: #0062E6;
$secondary-logo-color: #64FFDA;
$background-color: #121212;
$background-lighter-color: #2b2b2b;
$background-lightest-color: #3b3b3b;
$accent-color: #64ffda;
$accent-color-transparent: rgba(100, 255, 219, 0.2);
$slider-background-color: rgba(255, 255, 255, 0.4);
$text-color-high-emphasis: rgba(255, 255, 255);
$text-color-medium-emphasis: rgba(255, 255, 255, 0.6);
$text-color-low-emphasis: rgba(255, 255, 255, 0.4);
