$primary-logo-color: #0062E6;
$secondary-logo-color: #64FFDA;
$background-color: #121212;
$background-lighter-color: #2b2b2b;
$background-lightest-color: #3b3b3b;
$background-color-transparent: rgba(43, 43, 43, 0.6);
$accent-color: #64ffda;
$accent-color-transparent: rgba(100, 255, 219, 0.2);
$slider-background-color: rgba(255, 255, 255, 0.4);
$text-color-high-emphasis: rgba(255, 255, 255);
$text-color-medium-emphasis: rgba(255, 255, 255, 0.6);
$text-color-low-emphasis: rgba(255, 255, 255, 0.4);
$fixedHeaderColor: rgba(27, 27, 27, 0.3);
$introductionWindowColor: rgba(43, 43, 43, 0.6);
$codeWindow: #3b3b3b;
$codeBorderColor: transparent;
$codeDotContainerBottomBorderColor: #000;
$inactiveDot: #606060;
$shadow: 0px 3px 22px 0px rgba(0, 0, 0, 0.7);
$caretFillColor: #ffffffdc;
$lighterAccentColor: rgba(100, 255, 219, 0.2);
$callToActionAccentColor: #444;
$callToActionHoverAccentColor: #64ffda;
$aboutMeColor: #64ffda;
$diagonalColor: #1b1b1b;
$oddSiblingColor: #232323;
$navChildHoverColor: #333;
$error-color: rgba(194, 20, 41, 1);

$angular: #E23237;
$react: #00D8FF;
$javascript: #F7DF1E;
$typescript: #007ACC;
$html: #F16529;
$css: #33A9DC;
$firebase: #FFA40C;
$git: #F06754;
$scrum: #2A99A2;
$restapi: #00B0E1;
$materialdesign: #ADDEF4;
$vscode: #2CA4EE;